// $primaryColor: ##ff00fe !default;
// $primaryLightColor: #f5d0fe !default;
// $primaryDarkColor: #c026d3 !default;
// $primaryDarkerColor: #a21caf !default;
// $primaryTextColor: #ffffff !default;
// $primary500: ##ff00fe !default;

$primaryColor: #FF007E !default;
$primaryLightColor: #f5d0fe !default;
$primaryDarkColor: #220426 !default;
$primaryDarkerColor: #230326 !default;
$primaryTextColor: #ffffff !default;
$primary500: #FF007E !default;

$highlightBg: #fdf4ff !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
